@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);


.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height: ;
}
.camera_wrap {
	/*display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin: 0 !important;
    overflow:hidden;*/
    display: none;
  position: absolute;
  left: 0;
  top: 0;
  /*width: 100%;*/
  bottom: 0;
  right: 0;
  margin-bottom: 0 !important;
  /*height: 100%;*/
  /*height: auto!important;*/
  background: #fff;
  z-index: 0;
}
.camera_wrap img {
	max-width: none !important;
    /*overflow: hidden;*/
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:100%;
	z-index: 1;
    /*display: inline-block;*/
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	/*width: 100%;*/
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	/*width: 100%;*/
    text-align: center;
}
.camera_target {
	bottom: 0;
	/*height: 100%;*/
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	/*width: 100%;*/
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	/*height: 100%;*/
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	/*width: 100%;*/
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
    /*padding:0;*/
    margin:-83px 0 0 0;
    position: relative;
 	padding-bottom: 45.57%;
}

@media (max-width: 987.4917709019092px) {
  .slider {
    padding-bottom: 450px;
  }
}

.slider .col-lg-12 div {
    position:relative;
}
.slider .title3 {
    font:italic 12px 'Roboto';
    color:red;
    margin-top:12px;
    margin-bottom:12px;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:-13px;
    width: 100%;
	padding:0;
	display:inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    left:0;
    text-align: center;
    display:none !important;
}
.camera_pag_ul {
    width: 1170px;
    display: inline-block;
    float: none;
    text-align: left;
}
.camera-caption {
	position: absolute;
	top:25%;
    left:0;
    width: 100%;
	z-index:100;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera_pag_ul {
    display: inline-block;
}
.camera_pag_ul li{
	display: inline-block;
	text-indent: -100px;
	margin-left:4px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li>span{
	cursor: pointer;
	display: block;
	width:88px;
	height:8px;
    background:#a2c9c2;
	text-indent: -100px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_pag_ul li>span>span{display: none;}
.camera_pag_ul li.cameracurrent span, .camera_pag_ul li:hover span{
    background:#1d2423;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;    
}
.slider-pagination {
    /*margin-top:-187px;*/
    background:#000;
    position: relative;
    z-index: 1;
    padding:25px 0 20px 0;
    background:url(../img/pattern2.png) repeat; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1220px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px){
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
.slider {
    margin:0
}
.slider-pagination {
    margin:0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}